<components-header [title]="'Card'"></components-header>

<ion-content [fullscreen]="true">
  
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marker</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis laborum repellat illo, velit ipsa temporibus.
    </ion-card-content>

  </ion-card>


  <ion-card>
    <img src="https://images.unsplash.com/photo-1515041219749-89347f83291a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FydG9vbnxlbnwwfHwwfHx8MA%3D%3D" alt="Minion">

    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis laborum repellat illo, velit ipsa temporibus.
    </ion-card-content>
  </ion-card>

</ion-content>
